<footer class="footer">
    <section class="container">
        <div class="copyright">
            &copy; JustASK.cz 2016 | Všechna práva vyhrazena.
        </div>
        <div class="links">
            Tuto stránku pohání Symfony3.
        </div>
    </section>
</footer>