<footer class="footer">
    <section class="container">
        <div class="copyright">
            &copy; JustASK.cz 2015 | Všechna práva vyhrazena.
        </div>
        <div class="links">
            Tuto stránku pohání Symfony2.
        </div>
    </section>
</footer>